img.navbar-logo {
  max-height: 36px;
}

@media screen and (max-width: 576px) {
  img.navbar-logo {
    content: url("public/quarto-gradio-logo.png");
  }
}

img.sidebar-logo {
  margin-bottom: 1em;
}

.bi-github,
.bi-globe,
.bi-linkedin {
  font-size: 1.5em;
}

.quarto-navbar-tools {
  margin-left: 0.2em;
}

.sidebar-item-container {
  margin: 0.75rem 0;
}

nav.quarto-page-breadcrumbs {
  margin-bottom: 1em;
}

nav.quarto-page-breadcrumbs .breadcrumb-item,
nav.quarto-page-breadcrumbs .breadcrumb-item a {
  color: #adb5bd !important;
}

p, li {
  line-height: 1.8;
}

.description {
  margin-top: .75em !important;
}

details summary,
.nav-page-text {
  color: #adb5bd !important;
}

.edgeLabel p {
  color: #212529 !important;
}

.mermaid-js svg {
  display: block;
  margin-inline: auto;
}

.nodeLabel p {
  color: #f8f9fa !important;
}

.node rect,
.node polygon,
.node path,
.cluster rect {
  fill: #2b3035 !important;
  stroke: #adb5bd !important;
}

.cluster-label p {
  color: #f8f9fa !important;
}
